*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  line-height: 1.3;
}

#root {
  min-height: inherit;
}
